<!DOCTYPE html>
<html>
<head>
	<title>Pay Your Bills</title>
<style type="text/css">
ul { 
     list-style-type: nonen;
     margin:0;
     padding: 0;
    overflow: hidden;
    background-color: #a7e0ee; 
    background-image: url(static/img/Technology.jpg);}
li {
    display: inline-block;}
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 36px;
    text-decoration: none;
}
li a:hover{
    background-color: red;
}
ul{
	top:50%;
	width: 100%;
}
.Slides{
display: none;
margin-top: 100px;
margin-left: 280px; 
width:800px;
height: 400px; 
}
body{
	overflow-x: hidden;
}

</style>
</head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
<link href="static/css/font-awesome.css" rel="stylesheet">
<link href="static/css/style.css" rel="stylesheet">
<link href="static/css/pages/signin.css" rel="stylesheet" type="text/css">
<body>
<div id="nav">
          <ul class="nav pull-right">
          
		  <li class="">           
            <a href="/home" class="">
              <b>HOME</b>
            </a>
            
          </li>
          
          <li class="">           
            <a href="/bill" class="">
              <b>BILL SELECTION </b>
            </a>
          </li>
		  
		  
		  <li class="">           
            <a href="/payment" class="">
              <b>PAYMENT</b>
            </a>
          </li>
          
          <li class="">           
            <a href="/login" class="">
              <b>LOGIN</b>
            </a>
          </li>
		  
		  
		  <li class="">           
            <a href="/signup" class="">
              <b>SIGN UP</b>
            </a>
          </li>
		  
		   <li class="">
		  <a href="/fetch" class="">
		    <b>FETCH DETAILS</b>
			</a>
		  </li>
         </ul>
</div>        
      

 <br><br><br><br>

<center><img src="static/img/bill1.png"></center>

 <div class="content">

  
  <h1><b>MOBILE RECHARGE:</b></h1>
  <center><i><img src="static/img/mobile.jpg" margin-top="160" height="200" width="600"></i></center>
  <br>
  <h3>The various MOBILE RECHARGE can be done using <b><u> payyourbills.com </u></b> like Vodafone Recharge,Airtel Recharge,
  Reliance Recharge,Idea Recharge,Tata Docomo Recharge,MTNL Mumbai Recharge,BSNL Recharge,Aircel Recharge
  </h3><br>

  <h1><b>DATA CARD RECHARGE:</b></h1><br>
 <h3>Smart phones provide a mobile platform for internet browsing and downloading and data card recharge plans provide the access. 
     Data card recharge offers make internet browsing and downloading cheap and fast. Data card plans come in different range of prices 
	 and validity periods. Users can recharge data card as per their usage and requirement.Both 2G and 3G data card recharge plans are 
	 available and users can choose one as per their requirement.</h3><br>
        

   <center><i><img src="static/img/data.jpg" margin-top="160" height="400" width="320"></i></center>
   <br>
 <h3>The various DATA CARD RECHARGES can be done using <b><u> payyourbills.com </u></b> like Airtel, Aircel, Vodafone, Reliance, MTNL and more.
   </h3> <br>
  
  <h1><b>BILL PAYMENT:</b></h1><br>
  <center><i><img src="static/img/images.png" margin-top="160" height="200" width="600"></i></center>	
  <h3>The various types of Online Bill Payments can be done using <b><u> payyourbills.com </u></b> like
  Electricity Bill Payment,Gas Bill Payment,Landline Bill Payment,Mobile Bill Payment,Water Bill Payment and Insurance Bill Payment.
  </h3>
  
</div> 
</body>        
</html>